/*css for botswana flag */
.botswana {
    border: 1px solid black;
    max-width: min-content;
}

.botswana .quadrado1{
    background-color: cyan;
    height: 180px;
    width: 300px;
    
}

.botswana .quadrado2{
    position: relative;
    top: 65px;
    height: 50px;
    background-color: white;

}

.botswana .quadrado3 {
    position: relative;
    top: 10px;
    height: 30px;
    background-color: black;

}