.finlandia {
    border: 1px solid black;
    background-color: white;
    height: 180px;
    width: 300px;
}

.finlandia .quadrado1{
    position: relative;
    top: 65px;
    height: 50px;
    background-color: darkblue;

}

.finlandia .quadrado2 {
    position: relative;
    bottom: 65px;
    left: 65px;
    height: 180px;
    width: 50px;
    background-color: darkblue;

}