.italia {
    border: 1px solid black;
    display: flex;
    max-width: min-content;
}

.italia .quadrado1 {
    background-color: green;
    height: 180px;
    width: 100px;
}

.italia .quadrado2 {
    background-color: white;
    height: 180px;
    width: 100px;
}

.italia .quadrado3 {
    background-color: red;
    height: 180px;
    width: 100px;
}
