.noruega {
    border: 1px solid black;
    background-color: red;
    height: 200px;
    width: 400px;
}

.noruega .quadrado1{
    top: 75px;
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
}

.noruega .quadrado2 {  
    position: relative;
    height: 200px;
    left: 100px;
    bottom: 50px;
    width: 50px;
    background-color: white;

}

.noruega .quadrado3{
    height: 25px;
    width: 100%;
    bottom: 162.5px;
    background-color: darkblue;
    position: relative;
}

.noruega .quadrado4{  
    position: relative;
    height: 200px;
    left: 112.5px;
    bottom: 275px;
    width: 25px;
    background-color: darkblue;

}