.tailandia {
    border: 1px solid black;
    max-width: min-content;
}

.tailandia .quadrado1{
    background-color: red;
    height: 200px;
    width: 300px;
    
}

.tailandia .quadrado2{
    position: relative;
    top: 30px;
    height: 140px;
    background-color: white;

}

.tailandia .quadrado3 {
    position: relative;
    top: 30px;
    height: 80px;
    background-color: darkblue;

}