.ucrania {
    border: 1px solid black;
    max-width: min-content;
}

.ucrania .quadrado1 {
    background-color: cyan;
    height: 90px;
    width: 300px;
}

.ucrania .quadrado2 {
    background-color: yellow;
    height: 90px;
    width: 300px;
}
