̉/*Defina a família de fontes da página inteira como ‘Helvetica, Arial,
sans-serif’.
○ Altere a cor de fundo do cabeçalho (header) para #333333
○ Altere a cor da fonte dos links de navegação para #FFFFFF
○ Altere a cor da fonte dos títulos das seções para #0099FF
○ Altere o tamanho da fonte das datas dos artigos para 14px
○ Altere o estilo da fonte das datas dos artigos para itálico
○ Altere a cor da fonte das datas dos artigos para gray
○ Defina a cor de fundo dos itens ímpar da lista da seção ‘Artigos em
destaque’ para #F2F2F2
○ Defina a cor do texto dos links localizados dentro de elementos h3
para red
○ Defina a cor da fonte dos links dentro da seção ‘Mais recentes’ para
#FF9900
*/
body {
    font-family: Helvetica, Arial, sans-serif;

}

body header {
    background-color: #333333;
    
    
}

body a {
    color: #FFFFFF;
}

section > h2 {
    color: #0099FF;
}

.date {
    font-size: 14px;
    font-style: italic;
    color: gray;
}

section:nth-of-type(2) li:nth-child(odd) {
    background-color: #f2f2f2;
  }
 body h3 > a {
    color: red;
}  

section:nth-of-type(3) a {
    color: #FF9900;
}

